html{
    background-color:#fff;
}
body{
    color: #000000; 
    background-color: #ffffff; 
    font-family: Georgia, Times, serif; 
    font-size: 12pt;
}
header{
    display:none;
}
footer{
    display:none;
}
nav{
    display: none;
}
.naver{
    display: none;
}
a:link { color: #0000cc; text-decoration: underline; } 
a:visited { color: #0000cc; text-decoration: underline; }
a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}
video{display:none;}
