USE [master]
GO
/****** Object:  Database [WP14_rn222cx_Project]    Script Date: 2015-02-27 14:23:46 ******/
CREATE DATABASE [WP14_rn222cx_Project] ON  PRIMARY 
( NAME = N'WP14_rn222cx_Project', FILENAME = N'E:\mssql\data\WP14_rn222cx_Project.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'WP14_rn222cx_Project_log', FILENAME = N'E:\mssql\data\WP14_rn222cx_Project_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WP14_rn222cx_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WP14_rn222cx_Project]
GO
/****** Object:  Table [dbo].[carrier]    Script Date: 2015-02-27 14:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[carrier](
	[carrierID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[carrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[palletStatement]    Script Date: 2015-02-27 14:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[palletStatement](
	[psID] [int] IDENTITY(1,1) NOT NULL,
	[carrierID] [int] NOT NULL,
	[supplierID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[Apallet] [smallint] NULL,
	[Bpallet] [smallint] NULL,
	[dateOut] [date] NULL,
	[dateIN] [date] NULL,
	[wayBill] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[psID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
